<div class="flex-col">
    <p-accordion [value]="'0'" >
        <p-accordion-panel value="0">
            <p-accordion-header>{{ BackgroundSteps.Race }}</p-accordion-header>
            <p-accordion-content>
                <p class="m-0">{{ CreationStepsDescriptions.BackgroundSelection }}</p>
                <app-carousel [items]="racesCarouselItems"></app-carousel>
            </p-accordion-content>
        </p-accordion-panel>
        <p-accordion-panel value="1">
            <p-accordion-header>{{ BackgroundSteps.Background }}</p-accordion-header>
            <p-accordion-content>
                <p class="m-0">{{ CreationStepsDescriptions.BackgroundSelection }}</p>
                <app-image-accordion [items]="backgroundAccordionItems"></app-image-accordion>
            </p-accordion-content>
        </p-accordion-panel>
        <p-accordion-panel value="2">
            <p-accordion-header>{{ BackgroundSteps.Languages }}</p-accordion-header>
            <p-accordion-content>
                <p class="m-0">//add description here (enum?)</p>
            </p-accordion-content>
        </p-accordion-panel>
    </p-accordion>
</div>
