<p-stepper [value]="1" class="basis-[50rem]">
    <p-step-list>
        <p-step [value]="1">{{CreationSteps.ClassSelection}}</p-step>
        <p-step [value]="2">{{CreationSteps.RaceSelection}}</p-step>
        <p-step [value]="3">{{CreationSteps.OriginSelection}}</p-step>
        <p-step [value]="4">{{CreationSteps.AbilityScores}}</p-step>
        <p-step [value]="5">{{CreationSteps.Alignment}}</p-step>
        <p-step [value]="6">{{CreationSteps.Details}}</p-step>
    </p-step-list>
</p-stepper>
