<p-stepper [value]="1" class="basis-[50rem]">
    <p-step-list>
        <p-step [value]="1">{{ CreationStepsTitles[CreationSteps.ClassSelection] }}</p-step>
        <p-step [value]="2">{{ CreationStepsTitles[CreationSteps.RaceSelection] }}</p-step>
        <p-step [value]="3">{{ CreationStepsTitles[CreationSteps.OriginSelection] }}</p-step>
        <p-step [value]="4">{{ CreationStepsTitles[CreationSteps.AbilityScores] }}</p-step>
        <p-step [value]="5">{{ CreationStepsTitles[CreationSteps.Alignment] }}</p-step>
        <p-step [value]="6">{{ CreationStepsTitles[CreationSteps.Details] }}</p-step>
    </p-step-list>
    <p-step-panels>
        <p-step-panel [value]="1">
            <ng-template #content let-activateCallback="activateCallback">
                <div class="flex flex-col h-48">
                    <div>
                        <app-class-selection></app-class-selection>
                    </div>
                </div>
                <div class="flex pt-6 justify-end">
                    <p-button
                        label="Next"
                        icon="pi pi-arrow-right"
                        iconPos="right"
                        (onClick)="activateCallback(2)"
                    />
                </div>
            </ng-template>
        </p-step-panel>
        <p-step-panel [value]="2">
            <ng-template #content let-activateCallback="activateCallback">
                <div class="flex flex-col h-48">
                    <div
                        class="border-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium"
                    >
                        {{ CreationSteps.RaceSelection }}
                    </div>
                </div>
                <div class="flex pt-6 justify-end">
                    <p-button
                        label="Next"
                        icon="pi pi-arrow-right"
                        iconPos="right"
                        (onClick)="activateCallback(3)"
                    />
                </div>
            </ng-template>
        </p-step-panel>
        <p-step-panel [value]="3">
            <ng-template #content let-activateCallback="activateCallback">
                <div class="flex flex-col h-48">
                    <div
                        class="border-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium"
                    >
                        {{ CreationSteps.OriginSelection }}
                    </div>
                </div>
                <div class="flex pt-6 justify-end">
                    <p-button
                        label="Next"
                        icon="pi pi-arrow-right"
                        iconPos="right"
                        (onClick)="activateCallback(4)"
                    />
                </div>
            </ng-template>
        </p-step-panel>
        <p-step-panel [value]="4">
            <ng-template #content let-activateCallback="activateCallback">
                <div class="flex flex-col h-48">
                    <div
                        class="border-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium"
                    >
                        {{ CreationSteps.AbilityScores }}
                    </div>
                </div>
                <div class="flex pt-6 justify-end">
                    <p-button
                        label="Next"
                        icon="pi pi-arrow-right"
                        iconPos="right"
                        (onClick)="activateCallback(5)"
                    />
                </div>
            </ng-template>
        </p-step-panel>
        <p-step-panel [value]="5">
            <ng-template #content let-activateCallback="activateCallback">
                <div class="flex flex-col h-48">
                    <div
                        class="border-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium"
                    >
                        {{ CreationSteps.Alignment }}
                    </div>
                </div>
                <div class="flex pt-6 justify-end">
                    <p-button
                        label="Next"
                        icon="pi pi-arrow-right"
                        iconPos="right"
                        (onClick)="activateCallback(6)"
                    />
                </div>
            </ng-template>
        </p-step-panel>
        <p-step-panel [value]="6">
            <ng-template #content let-activateCallback="activateCallback">
                <div class="flex flex-col h-48">
                    <div
                        class="border-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium"
                    >
                        {{ CreationSteps.Details }}
                    </div>
                </div>
                <div class="flex pt-6 justify-end">
                    <p-button
                        label="Finish"
                        icon="pi pi-check"
                        iconPos="right"
                        (onClick)="activateCallback(1)"
                    />
                </div>
            </ng-template>
        </p-step-panel>
    </p-step-panels>
</p-stepper>
